<h1 class="">Stupid Coaching</h1>

<div class="user">
<%= @question %><p><em>-You</em></p>
</div>
<br>

<div class="coach">
<%= @answer %><p><em>-Your coach</em></p>
</div>

<%= link_to "Ask a new question", "/ask"%>
